:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
}

header {
  padding: 20px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}


.logo {
    padding: 10px;
}

.logo :nth-child(1) {
    width: 3px;
    height: 25px;
    display: inline-block;
    background-color: var(--secondary-color);
    margin-right: 2.5px;
}

.logo :nth-child(2) {
    border: solid 5px var(--main-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
    display: inline-block;
}

.icons {
  display: inline-flex;
  height: 21px;
  flex-flow: column-reverse wrap;
  align-items: flex-end;
}

.icons span{
  width: 30px;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.5s linear ;
}

.icons :nth-child(2) {
  width: 18px;
}

.icons:hover :nth-child(2) {
  width: 30px;
}

.links ul li {
  list-style: none;
  background-color: #f6f6f6;
  min-width: 200px;
  height: fit-content;
}

.links ul li a {
  color:black;
  text-decoration: none;
}