html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif !important;
}

/* start header */
header {
  padding: 20px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  width: 60px;
}

.logo :nth-child(1) {
  width: 3.5px;
  height: 20px;
  display: inline-block;
  background-color: var(--secondary-color);
  margin-right: 2.5px;
}

.logo :nth-child(2) {
  border: solid 4px var(--main-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-block;
}


.icons {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}


.icons span {
  width: 30px;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: var(--main-duration);
}

.links {
  position: relative;
}

header .container .links ul::before {
  content: "";
  width: 0;
  height: 0;
  border: solid 10px;
  position: absolute;
  top: -20px;
  right: 5px;
  border-color: transparent transparent #f6f6f6 transparent;
}

.icons :nth-child(2) {
  width: 18px;
}

.links:hover .icons :nth-child(2) {
  width: 30px;
}

header .container .links ul {
  position: absolute;
  left: -170px;
  top: 37.5px;
  display: none;
  height: fit-content;
}

header .container .links:hover ul {
  display: inline-block;
}

.links ul li {
  list-style: none;
  background-color: #f6f6f6;
  width: 200px;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.links ul li a{
  color: #333;
  text-decoration: none;
  transition: var(--main-duration);
}

header .container .links li:hover a {
  padding-left: 10px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 770px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

section {
  padding: var(--section-padding) 0;
  background-color: #f6f6f6;
}

/* end header */
/* start intro section */
.intro {
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_One/images/landing.jpg);
  background-size: cover;
  height: calc(100vb - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}


.intro h1 {
  color: var(--main-color);
  font-size: 50px !important;
  margin: 0 !important;
  font-weight: bold;
}
.intro p {
  font-size: 19px;
  line-height: 180%;
  margin: 19px 0;
  text-align: center;
  width: 320px;
}
/* end intro */
/* start features */
/* color icons */
i {
  color: var(--main-color);
}